body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.card {
    background-color: black;
    width: 70em;
    height: 35em;
    border-radius: 15px;
    display: flex;
    justify-content: center;
}