
/* Fonte geral: */
	/* Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,600;0,700;0,800;1,100;1,300;1,400&display=swap');
/* font-family: 'Poppins', sans-serif; */
/* Fonte Menu: */
	/* Lato */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');
/* font-family: 'Lato', sans-serif; */