/* Typical Device Breakpoints
------------------------------
Pequenas telas: até 600px 
Celular: de 600px até 768px
Tablet: 768px até 992px
Desktop: 992px até 1200px
Grande telas: acima de 1200px */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #7EBEE5;
}

/* navbar */

nav {
    display: flex;
    justify-content: space-around;
    font-family: 'Poppins', sans-serif;
    align-items: center;
    color: #202020;
    background: #0085CA;
    padding: 30px;
}

.logo {
    font-weight: 800;
    font-size: 25px;
    color: #fff;
}

.nav-itens {
    display: flex;
    list-style: none;
}

.nav-itens > li > a {
    font-size: 1.3em;
    padding-left: 20px;
    color: white;
    text-decoration: none;
    transition: .3s all;
}

.nav-itens > li > a:hover {
    color: #7EBEE5;
}

.login {
    padding: 10px 40px;
    font-size: 1.3em;
    border: none;
    border-radius: 5px;
    color: #202020;
    background-color: #fff;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}

.cadastro {
    padding: 10px 40px;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: #202020;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    transition: 1s background;
}

.cadastro:hover {
    background-color: #3d3d3d;
    transition: 1s background;
}

#burguer {
    display: none;
}

/* Intro */

section {
    background: url(../img/pexels-cdc-3992949.jpg);
    background-repeat: no-repeat;
    width: 1000px;
    height: 600px;
    margin: 1px auto;
    align-items: center;
    text-align: center;
}

section h1 {
    font-family: 'Lato', sans-serif;
    font-size: 3em;
    color: #fff;
    padding: 200px;
}
