.text {
    background-image: linear-gradient(transparent 0%, transparent 90%, hotpink 90%, hotpink 100%);
    background-repeat: no-repeat;
    background-size: 0% 100%;
    background-position-x: right;
    transition: backgroung-size 300ms;
}

.text:hover {
    background-size: 100% 100%;
    background-position-x: left;
}