* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

footer {
    background-color: #202020;
    height: 430px;
}

.secoes {
    max-width: 1700px;
    margin: auto;
}

.informacoes {
    display: flex;
}

.info1, .info2, .info3 {
    padding-top: 50px;
    padding-right: 50px;
    padding-left: 50px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: rgb(199, 199, 199);
}

.info1>h1, .info2>h1, .info3>h1 {
    color: rgb(252, 252, 252);
}

.card {
    background-color: #fff;
    margin-top: 80px;
    width: 470px;
    margin-left: 50px;
    border-radius: 3px;
    height: 100px;
    padding: 15px 30px;
}

.text-suporte {
    font-family: 'Poppins', sans-serif;   
}

.input-suporte {
    width: 400px;
    height: 30px;
    border-radius: 3px;
    border: 1px solid #202020;
    margin-top: 10px;
    font-family: 'Poppins', sans-serif;  
    font-size: 15px;
    padding-left: 10px;
}

.input-suporte:focus {
    outline: none;
}

.divisao {
    margin-top: 80px;
}

.empresa {
    margin-top: 40px;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    padding-left: 50px;
    font-size: 30px;
}

.contato {
    display: flex;
    justify-content: space-between;
}

.links {
    padding-right: 50px;
    display: flex;
}

.links>li {
    list-style: none;
    font-family: 'Poppins', sans-serif;
    margin-top: 40px;
}

.link1, .link2, .link3 {
    margin-right: 20px;
    font-size: 17px;
    color: #fff;
    transition: 1s text;
}

.link1:hover, .link2:hover, .link3:hover {
    color: rgb(188, 188, 188);
    transition: 1s;
}

.creditos {
    font-family: 'Poppins', sans-serif;
    color: #fff;
    padding-left: 50px;
}