* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    margin: 10px auto;
    font-family: 'Roboto', sans-serif;
    max-width: 1200px;
    background: #E5E5E5;
}

.container {
    max-width: 700px;
    background-image: linear-gradient(to top, #FFFFFF 55%,
    #F6F7F9 45%);
}

.loja {
    display: flex;
}

.loja-imagens > img {
    margin: 40px 40px 0px 40px;
    border-radius: 4px;
}

.loja-imagens-secundarias {
    display: flex;
    gap: 20px;
    margin: 20px 40px 40px 40px;
    border-radius: 4px;
}

.loja-info {
    font-family: 'Roboto', sans-serif;
    margin-top: 40px;
}

.loja-info span {
    color: #2493F8;
    font-weight: 500;
    font-size: 1.125rem;
}

.loja-info h1 {
    font-weight: 500;
    font-size: 1.125rem;
    text-transform: uppercase;
    color: #384047;
    letter-spacing: 4%;
}

.loja-info p {
    color: #67737E;
    font-weight: 400;
    font-size: 1rem;
    max-width: 25ch;
    margin-top: 30px;
    margin-bottom: 20px;
}

.loja-info a {
    display: flex;
    text-decoration: none;
    max-width: 194px;
    padding: 12px 24px;
    background: #2493F8;
    color: #004391;
    border-radius: 3px;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    margin-bottom: 60px;
}

.loja-info a img {
    margin-left: 25px;
}

.loja-detalhes-titulo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.loja-detalhes-titulo h2 {
    font-size: 0.875rem;
    text-transform: uppercase;
    letter-spacing: 4%;
    color: #67737E;
    align-items: center;
}

.loja-detalhes-titulo img {
    margin-right: 30px;
}

.loja-detalhes-lista {
    list-style: none;
    color: #67737E;
    margin-top: 10px;
}

.loja-detalhes-lista li + li {
    margin-top: 5px;
}

.loja-detalhes + .loja-detalhes::before {
    content: '';
    display: inline-block;
    width: 200px;
    height: 2px;
    background: #F6F7F9;
    margin: 13px auto;
}

@media (max-width: 800px) {
    .loja {
        display: flex;
        flex-direction: column;
        min-height: 1100px;
    }

    .loja-info {
        margin-left: 40px;
        margin-top: 0;
    }

    .loja-info a {
        margin-bottom: 30px;
    }
}