body {
    background: url(../img/bg-mobile.jpg) no-repeat top center/cover;
}

#container {
    width: 360px;
    height: 712px;
    border: 1px solid red;
    margin: 0 auto;
}

#profile {
    text-align: center;
}

#profile img {
    width: 112px;
    
}