body {
    font-family: Arial, Helvetica, sans-serif;
}

.carrousel {
    display: grid;
    grid-auto-flow: column;
    scroll-behavior: auto;
    gap: 1.2rem;
    overflow-y: auto;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
}

.card {
    width: 300px;
    height: 200px;
    text-align: center;
    margin: 50px auto;
    background: #044040;
    color: white;
    border-radius: 10px;
}