@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,500&display=swap');

#menu_toggle {
    opacity: 0;
}

#menu_toggle:checked + .menu_btn > span {
    transform: rotate(45deg);
}

#menu_toggle:checke + .menu_btn > span::before {
    top: 0;
    transform: rotate(0deg);
}

#menu_toggle:checked + .menu_btn > span::after {
    top: 0;
    transform: rotate(90deg);
}

#menu_toggle:checked ~ .menu_box {
    left: 0 !important;
}

.menu_btn {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 26px;
    height: 26px
}

.menu_btn:hover {
    cursor: pointer;
    z-index: 1;
}

.menu_btn > span, .menu_btn > span::before, .menu_btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
    transition-duration: .25s;
}

.menu_btn > span::before {
    content: '';
    top: -8px;
}

.menu_btn > span::after {
    content: '';
    top: 8px;
}

.menu_box {
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #ECEFF1;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
    transition-duration: .25s;
}

.menu_item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
}

.menu_item:hover {
    background-color: #CFD8DC;
}